name: LWJGL Build

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  AWS_DEFAULT_REGION: us-east-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  S3_PARAMS: --cache-control "public,must-revalidate,proxy-revalidate,max-age=0"
  JEMALLOC_PARAMS: --with-jemalloc-prefix=je_ --disable-stats --disable-fill --disable-cxx --enable-doc=no

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    container:
      image: almalinux:8
    strategy:
      fail-fast: false
      matrix:
        ARCH: [ x64 ]
        include:
          - ARCH: x64
            HOST: x86_64-pc-linux-gnu
    defaults:
      run:
        shell: bash
    steps:
      - name: Install git
        run: dnf -y install git
      - name: Clone repository
        run: git clone --depth 3 https://github.com/${{ github.repository }}.git .
      - name: Install build dependencies
        run: |
          dnf -y install epel-release wget
          wget https://pkgs.sysadmins.ws/el8/base/x86_64/raven-release-1.0.1-1.el8.noarch.rpm
          rpm -ivh raven-release-1.0.1-1.el8.noarch.rpm
          dnf config-manager --set-enabled powertools
          dnf config-manager --set-enabled raven-extras
          dnf -y update
          dnf -y install gcc-toolset-15-gcc gcc-toolset-15-gcc-c++ autoconf automake libtool awscli
      - name: Configure build
        run: |
          source /opt/rh/gcc-toolset-15/enable || true
          CFLAGS="-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./autogen.sh \
            $JEMALLOC_PARAMS \
            --disable-initial-exec-tls \
            --host=${{matrix.HOST}} || (cat config.log ; exit 1)
      - name: Build
        run: |
          source /opt/rh/gcc-toolset-15/enable || true
          make -j8
          strip lib/libjemalloc.so
      - name: Upload artifact
        run: aws s3 cp lib/libjemalloc.so s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $PWD
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libjemalloc.so.git
          aws s3 cp libjemalloc.so.git s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  linux-cross:
    name: Linux Cross
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        ARCH: [arm32, arm64, ppc64le, riscv64]
        include:
          # -----
          - ARCH: arm32
            CROSS_ARCH: armhf
            TRIPLET: arm-linux-gnueabihf
            EXTRA_PARAMS:
            HOST: arm-unknown-linux-gnueabihf
          # -----
          - ARCH: arm64
            CROSS_ARCH: arm64
            TRIPLET: aarch64-linux-gnu
            EXTRA_PARAMS: --with-lg-page=16
            HOST: aarch64-unknown-linux-gnu
          # ----
          - ARCH: ppc64le
            CROSS_ARCH: ppc64el
            TRIPLET: powerpc64le-linux-gnu
            EXTRA_PARAMS: --with-lg-page=16
            HOST: powerpc64le-unknown-linux-gnu
          # -----
          - ARCH: riscv64
            CROSS_ARCH: riscv64
            TRIPLET: riscv64-linux-gnu
            EXTRA_PARAMS:
            HOST: riscv64-unknown-linux-gnu
    env:
      LWJGL_ARCH: ${{matrix.ARCH}}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
          fetch-tags: true
      - name: Install dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -yq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -yq install awscli autoconf make \
            gcc-12-${{matrix.TRIPLET}} \
            libc6-dev-${{matrix.CROSS_ARCH}}-cross
      - name: Configure build
        run: |
          export PKG_CONFIG_LIBDIR="/usr/lib/${{matrix.TRIPLET}}/pkgconfig:/usr/share/pkgconfig"
          CC=${{matrix.TRIPLET}}-gcc-12 CFLAGS="-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./autogen.sh \
            $JEMALLOC_PARAMS \
            ${{matrix.EXTRA_PARAMS}} \
            --disable-initial-exec-tls \
            --host=${{matrix.HOST}} || (cat config.log ; exit 1)
      - name: Build
        run: |
          make -j8
          ${{matrix.TRIPLET}}-strip lib/libjemalloc.so
      - name: Upload artifact
        run: aws s3 cp lib/libjemalloc.so s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $PWD
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libjemalloc.so.git
          aws s3 cp libjemalloc.so.git s3://lwjgl-build/nightly/linux/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  freebsd-cross:
    name: FreeBSD Cross
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
          fetch-tags: true
      - name: Build
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: freebsd
          architecture: x86-64
          version: '13.5'
          memory: 4G
          shell: bash
          environment_variables: JEMALLOC_PARAMS
          run: |
            sudo pkg install -y autoconf automake libtool gmake
            CFLAGS="-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0" ./autogen.sh $JEMALLOC_PARAMS --disable-initial-exec-tls --enable-lazy-lock=no
            gmake -j2
            strip lib/libjemalloc.so
      - name: Upload artifact
        run: aws s3 cp lib/libjemalloc.so s3://lwjgl-build/nightly/freebsd/x64/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git config --global --add safe.directory $PWD
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libjemalloc.so.git
          aws s3 cp libjemalloc.so.git s3://lwjgl-build/nightly/freebsd/x64/ ${{env.S3_PARAMS}}

  macos:
    name: macOS
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x64, arm64]
        include:
          - ARCH: x64
            DARWIN: 15
            CC: MACOSX_DEPLOYMENT_TARGET=10.11 EXTRA_CFLAGS="-target x64-apple-darwin -arch x86_64 -mmacosx-version-min=10.11" LDFLAGS="-target x64-apple-darwin -arch x86_64 -mmacosx-version-min=10.11"
            HOST: x86_64
            EXTRA_PARAMS:
          - ARCH: arm64
            DARWIN: 20
            CC: MACOSX_DEPLOYMENT_TARGET=11.0 EXTRA_CFLAGS="-target aarch64-apple-darwin -arch arm64 -mmacosx-version-min=11.0" LDFLAGS="-target aarch64-apple-darwin -arch arm64 -mmacosx-version-min=11.0"
            HOST: aarch64
            EXTRA_PARAMS: --with-lg-page=14
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
          fetch-tags: true
      - name: Install dependencies
        run: brew install automake
      - name: Configure build
        run: |
          ${{matrix.CC}} ./autogen.sh \
            $JEMALLOC_PARAMS \
            --disable-initial-exec-tls \
            --disable-zone-allocator \
            --target ${{matrix.ARCH}}-apple-darwin${{matrix.DARWIN}} \
            --host=${{matrix.HOST}}-apple-darwin${{matrix.DARWIN}} \
            ${{matrix.EXTRA_PARAMS}}
      - name: Build
        run: |
          ${{matrix.CC}} make -j8
          strip -u -r lib/libjemalloc.dylib
      - name: Upload artifact
        run: aws s3 cp lib/libjemalloc.dylib s3://lwjgl-build/nightly/macosx/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git log --first-parent --pretty=format:%H HEAD~2..HEAD~1 > libjemalloc.dylib.git
          aws s3 cp libjemalloc.dylib.git s3://lwjgl-build/nightly/macosx/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}

  windows:
    name: Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x86, x64, arm64]
        include:
          - ARCH: x86
            MSVC_ARCH: amd64_x86
            #MSVC_ARCH: x86
            HOST: i686-pc-cygwin
            CFLAGS:
            VCTOOLS: x86.x64
          - ARCH: x64
            MSVC_ARCH: amd64
            HOST: x86_64-w64-cygwin
            CFLAGS:
            VCTOOLS: x86.x64
          - ARCH: arm64
            MSVC_ARCH: amd64_arm64
            #MSVC_ARCH: arm64
            HOST: aarch64-w64-cygwin
            CFLAGS: /D__aarch64__
            VCTOOLS: ARM64
    defaults:
      run:
        shell: cmd
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 3
          fetch-tags: true
#      - id: cygwin-cache
#        uses: actions/cache@v4
#        with:
#          path: C:\cygwin
#          key: cygwin-cache
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.MSVC_ARCH}}
      - name: Install dependencies
        run: |
          choco install cygwin -x64 --params "/InstallDir:C:\cygwin"
          choco install cyg-get
          cyg-get autoconf make
        #if: steps.cygwin-cache.outputs.cache-hit != 'true'
#      - name: Prepare Cygwin
#        run: C:\cygwin\bin\sh -lc "(cd $OLDPWD;)"
#      - name: Install Visual Studio 2026 Build Tools
#        shell: pwsh
#        run: |
#          choco install visualstudio2026buildtools --package-parameters "`
#            --add Microsoft.VisualStudio.Workload.VCTools `
#            --add Microsoft.VisualStudio.Component.VC.Tools.${{matrix.VCTOOLS}} `
#            --includeRecommended `
#            --quiet" `
#            -y `
#            --ignore-package-exit-codes=3010
      - name: Prepare build script
        run: |
          cat > build.sh <<'EOF'
          echo Building with JEMALLOC_PARAMS: $JEMALLOC_PARAMS
          cd $(cygpath $RUNNER_WORKSPACE)/jemalloc
          autoconf
          CFLAGS='/EHsc /GF /Gy /GL /GR- /GS- /MP /DNDEBUG ${{matrix.CFLAGS}}' CC=cl ac_cv_c_bigendian=no ./configure --host=${{matrix.HOST}} $JEMALLOC_PARAMS
          make
          EOF
          echo BUILD SCRIPT
          echo ------------
          cat build.sh
          chmod +x build.sh
#      - name: Configure build
#        run: |
#          C:\cygwin\bin\sh -lc "(cd $OLDPWD; set -o igncr; autoconf;)"
#          C:\cygwin\bin\sh -lc "(cd $OLDPWD; set -o igncr; CFLAGS='/EHsc /GF /Gy /GL /GR- /GS- /MP /DNDEBUG ${{matrix.CFLAGS}}' CC=cl ac_cv_c_bigendian=no ./configure --host=${{matrix.HOST}} %JEMALLOC_PARAMS%;)"
#      - name: Build
#        run: |
#          C:\cygwin\bin\sh -lc "(cd $OLDPWD; set -o igncr; make;)"
        shell: C:\cygwin\bin\bash.exe --login --norc -eo pipefail -o igncr '{0}'
      - name: Build
        #call "C:\Program Files (x86)\Microsoft Visual Studio\18\BuildTools\Common7\Tools\VsDevCmd.bat" -host_arch=amd64 -arch=${{matrix.MSVC_ARCH}}
        run: C:\cygwin\bin\bash.exe --login --norc -eo pipefail -o igncr build.sh
      - name: Upload artifact
        run: aws s3 cp lib\jemalloc.dll s3://lwjgl-build/nightly/windows/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
      - name: Upload git revision
        run: |
          git log --first-parent --pretty=format:%%H HEAD~2..HEAD~1 > jemalloc.dll.git
          aws s3 cp jemalloc.dll.git s3://lwjgl-build/nightly/windows/${{matrix.ARCH}}/ ${{env.S3_PARAMS}}
